{% extends 'base.html' %}

{% block content %}
{% load static %}

{% if user.is_authenticated %}
	<script>
		setTimeout(function(){window.location.href="/"},0.0);
	</script>
{% else %}

<div class="login-form">
	<form method="post">
		<div class="avatar">
                <img src="{% static 'img/avatar.png' %}" alt="Avatar">
           </div>
		<h2 class="text-center">Recuperação de senha!</h2>   
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-lg btn-block">Recuperar</button>
		</div>
	</form>
</div>
{% endif %}
{% endblock %}