{% extends 'base.html' %}

{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div class="login-form">
        {% for perfil in form %}
            {{ field.error }}
        {% endfor %}
        <form method="post">
            
            <h2 class="text-center">Complete seu cadastro:</h2>
            {% csrf_token %}
            {% for field in form %}<p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                  <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}
        </form>

        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Cadastrar</button>
        </div>
        </form>        
    </div>
         
</body>
</html>
{% endblock %}