{% extends 'base.html' %}

{% load static %}

{% block content %}
<br>
   
<div class="row">

    <div class="login-form" style="width: 25rem;">

        {% for perfil in form %}
            {{ field.error }}
        {% endfor %}
        <form method="post">
                <div class="avatar">
                        <img src="{% static 'img/avatar.png' %}" alt="Avatar">
                </div>
            {% csrf_token %}
            {% for field in form %}<p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                  <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}
        </form>
                
        <button type="submit" class="save btn btn-default">Save</button>
        <button type="reset" class="save btn btn-default">Limpar</button>
    </div>

</div>

{% endblock %}
