{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="login-form">
        <form method="POST">
            {% csrf_token %}
        
            <h2 class="text-center">Detalhes do anúncio!</h2>   
            <div class="form-group">
                
                <img class="mr-3" src="https://www.plantapronta.com.br/projetos/115/01.jpg" height="180" width="190">
                <br>
                <b>Anúncio:</b> {{imovel.titulo}}
                <br>
                <b>Categoria:</b> {{imovel.categoria}}
                <br>
                <b>Rua:</b> {{imovel.rua}}
                <br>
                <b>Número: </b>{{imovel.numero}}
                <br>
                <b>Bairro:</b> {{imovel.bairro}}
                <br>
                <b>Cidade: </b>{{imovel.cidade}}
                <br>
                <b>Estado: </b>{{imovel.estado}}
                <br>
                <b>Descrição: </b>{{imovel.descricao}}
                <br>
                <b>Preço:</b> {{imovel.preco}}
                <br>
            </div>
            
            <a href="#" class="btn btn-primary">Alugar</a>
            <a href="#" class="btn btn-danger">Contato</a>
            <a href="/" class="btn btn-info" >Voltar</a><br>

            
        </form>
    </div>
{% endblock %}
