{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

<div class="container">
     <h1>Edite o seu anúncio!</h1>

    <form method="POST" class="post-form">
    	{% csrf_token %}
        <div class="form-group row">
        <div class="col-md-5">
            {{ form.as_p  }}
        </div>
        </div>

        <br>
        <input type="submit" value="Salvar" class="btn btn-success">
        <input type="reset" value="Limpar" class="btn btn-warning">
    </form>
</div>

{% endblock %}

